html,
body {
    margin: 0;
    padding: 0;
    min-width:800px;
    overflow-y: hidden;
}
#app {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #fbe9d7;
}
#container{
    text-align: center;
}
canvas {
    padding: 0;
    margin: auto;
    display: block;
}
input{
    position: absolute;
    align-self: center;
}